<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/wanderpaw_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/wanderpaw_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginAndSignUp">
        <activity
            android:name=".FullScreenImageActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".EditProfilePage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookmarkPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FullPetProfilePage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserPetMatching"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PetProfilePage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddPetInformation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfilePage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WelcomePage"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogInActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>